#top{
  
  display: flex;
  flex-direction: row;
}
#return {
  position: absolute;
  left: 3%;
  top: 2%;
}

#file {
    
    justify-content: center; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  #file {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  #direction{
    width: 2.25em;
    height: 2.25em;
  }

  #odgovor{
    display: inline-flex;
  }

  @media only screen and (max-width: 767px) {
    #return {
      display: none;
    }
    
    #top h1 {
      font-size: 20px;
    }
    
    #country {
      width: 50%;
      height: auto;
    }
    
    .tekst_pogadanja {
      font-size: 18px;
    }
    
    #guess-input {
      width: 70%;
    }
    
    #direction {
      width: 30%;
      height: auto;
    }
    
    #retry {
      width: 50%;
    }
  }